<div class="topBanner">
    <div class="topBanner-social">
        <a href="">Facebook</a>
        <a href="">Youtube</a>
        <a href="">Contact</a>

    </div>
    <div class="gap">

    </div>
    <div class="topBanner-link">
        <a href="">Home</a>
        <a href="">About us</a>
        <a href="">Contact</a>

    </div>
</div>

<div class="menu">

    <img src="./img/menu.svg" onclick="openMenu()" alt="" id="menuIcon" srcset="">
    <ul>
        <div class="visibleMenu">
            <li><a class="lineHover" href="#">Home</a></li>
            <li><a class="lineHover" href="#">About</a></li>
            <li>
                <a class="lineHover" href="#">Store</a>
                <ul class="tst">
                    <li><a href="#">Kids</a></li>
                    <li><a href="#">Men</a></li>
                </ul>
            </li>
            <li><a class="lineHover" href="#">Portfolio</a></li>
            <li><a class="lineHover" href="#">Contact</a></li>


            <div class="search-bar">
                <form action="/search" method="GET">
                    <input type="text" name="q" placeholder="Search..." />
                    <button type="submit">Search</button>
                </form>
            </div>
    </ul>

</div>
</div>
<script src="./js/script.js"></script>