<div class="container">
    <nav class="sidenav">
        <div class="products">
            <img src="./img/dash.svg" alt="sorry" srcset="">

            Products
        </div>
        <div class="products">
            <img src="./img/invent.svg" alt="sorry" srcset="">

            Details
        </div>
        <div class="products">
            <img src="./img/logout.svg" alt="sorry" srcset="">

            Logout
        </div>
    </nav>
</div>