<div class="wrapper">
    <div class="form">

        <form action="/login" method="post">
            <label for="Login">Email</label><br>
            <input type="email" id="email"><br>
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password"><br>
            <input type="submit" id="btn" value="submit">
        </form>
    </div>
</div>