<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>

</head>


<div class="bannerImg">
    <img src="./img/two.webp" alt="sorry" srcset="">
</div><br>

<header>
    <div class="wrapper">

        <h1>Featured Products</h1>
    </div>
</header>
<section class="wrapper">
    <div class="layout-flex">
        <div class="col">
            <div class="card ">
                <img src="img/shoes.jpg" class="productImg" alt="">
                <h2>Product Name</h2>
                <p>This product details and other info</p>
                <Button class="btnPrice">Price</Button>
            </div>
        </div>

        <div class="col">
            <div class="card ">
                <img src="img/shoes.jpg" class="productImg" alt="">
                <h2>Product Name</h2>
                <p>This product details and other info</p>
            </div>
        </div>
        <div class="col">
            <div class="card ">
                <img src="img/shoes.jpg" class="productImg" alt="">
                <h2>Product Name</h2>
                <p>This product details and other info</p>
            </div>
        </div>
        <div class="col">
            <div class="card ">
                <img src="img/shoes.jpg" class="productImg" alt="">
                <h2>Product Name</h2>
                <p>This product details and other info</p>
            </div>
        </div>
        <div class="col">
            <div class="card ">
                <img src="img/shoes.jpg" class="productImg" alt="">
                <h2>Product Name</h2>
                <p>This product details and other info</p>
            </div>
        </div>
        <div class="col">
            <div class="card ">
                <img src="img/shoes.jpg" class="productImg" alt="">
                <h2>Product Name</h2>
                <p>This product details and other info</p>
            </div>
        </div>
        <div class="col">
            <div class="card ">
                <img src="img/shoes.jpg" class="productImg" alt="">
                <h2>Product Name</h2>
                <p>This product details and other info</p>
            </div>
        </div>
        <div class="col">
            <div class="card ">
                <img src="img/shoes.jpg" class="productImg" alt="">
                <h2>Product Name</h2>
                <p>This product details and other info</p>
            </div>
        </div>
    </div>
</section>